@import 'tools';

html {
	min-height: 100%;
	min-width: 100%;
	background: url(../img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
	z-index: 1;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	background: rgba(0,0,0,0.92);
}

.logo {
	position: relative;
	display:inline-block;
	top: 200px;
	left:0;

}
body {
	color: white;
	font-family: "roboto",sans-serif;
	font-style: normal;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	span {
		font-weight: 200;
		font-size: 1.2rem;
		position: absolute;
		top: 34px;
		left: 0;
		letter-spacing: 9.2px;
	}
}
p{
	margin-top: 400px;
	font-size: 1.9rem;
}
